Kaynak Kodlar/bitirme_PDAWM5/bitirmePDA_WM5/Web References/projeWebServisi/projeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/projeWS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/projeWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/projeWS/">
      <s:element name="projeleriListele">
        <s:complexType />
      </s:element>
      <s:element name="projeleriListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projeleriListeleResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="projeyeAitCozulmemisHataSayisi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projeIsmi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="projeyeAitCozulmemisHataSayisiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projeyeAitCozulmemisHataSayisiResult" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="projeleriListeleSoapIn">
    <wsdl:part name="parameters" element="tns:projeleriListele" />
  </wsdl:message>
  <wsdl:message name="projeleriListeleSoapOut">
    <wsdl:part name="parameters" element="tns:projeleriListeleResponse" />
  </wsdl:message>
  <wsdl:message name="projeyeAitCozulmemisHataSayisiSoapIn">
    <wsdl:part name="parameters" element="tns:projeyeAitCozulmemisHataSayisi" />
  </wsdl:message>
  <wsdl:message name="projeyeAitCozulmemisHataSayisiSoapOut">
    <wsdl:part name="parameters" element="tns:projeyeAitCozulmemisHataSayisiResponse" />
  </wsdl:message>
  <wsdl:portType name="projeWSSoap">
    <wsdl:operation name="projeleriListele">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tüm mevcut projelerin isimlerini getirir</wsdl:documentation>
      <wsdl:input message="tns:projeleriListeleSoapIn" />
      <wsdl:output message="tns:projeleriListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="projeyeAitCozulmemisHataSayisi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Girilen projeye ait mevcut çözülmemiş hata sayısını verir.</wsdl:documentation>
      <wsdl:input message="tns:projeyeAitCozulmemisHataSayisiSoapIn" />
      <wsdl:output message="tns:projeyeAitCozulmemisHataSayisiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="projeWSSoap" type="tns:projeWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="projeleriListele">
      <soap:operation soapAction="http://localhost/projeWS/projeleriListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="projeyeAitCozulmemisHataSayisi">
      <soap:operation soapAction="http://localhost/projeWS/projeyeAitCozulmemisHataSayisi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="projeWSSoap12" type="tns:projeWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="projeleriListele">
      <soap12:operation soapAction="http://localhost/projeWS/projeleriListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="projeyeAitCozulmemisHataSayisi">
      <soap12:operation soapAction="http://localhost/projeWS/projeyeAitCozulmemisHataSayisi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="projeWS">
    <wsdl:port name="projeWSSoap" binding="tns:projeWSSoap">
      <soap:address location="http://160.75.96.32/1/webServices/projeWS.asmx" />
    </wsdl:port>
    <wsdl:port name="projeWSSoap12" binding="tns:projeWSSoap12">
      <soap12:address location="http://160.75.96.32/1/webServices/projeWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>